@model LaptopWeb.Models.DonHang
<!-- main content start -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="main-content">

        <!-- content -->
        <div class="container-fluid content-top-gap">

            <!-- breadcrumbs -->
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb my-breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "AdminHome")">Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Xác nhận đơn hàng</li>
                </ol>
            </nav>
            <!-- //breadcrumbs -->
            <!-- forms -->
            <section class="forms">
                <!-- forms 1 -->
                <div class="card card_border py-2 mb-4">
                    <div class="cards__heading">
                        <h3>Chỉnh sửa sản phẩm <span></span></h3>
                    </div>
                    <div class="card-body">
                        <form action="#" method="post">
                            <div class="card card_border py-2 mb-4">
                                <div class="card-body">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Madon)
                                    <form action="#" method="post" enctype="multipart/form-data">

                                        <div class="form-row">
                                            @*<div class="form-group col-md-6">
                                                <label class="input__label">Tên sản phẩm</label>
                                                @Html.EditorFor(model => model.Tensp, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Tensp, "", new { @class = "text-danger" })
                                            </div>*@
                                            <div class="form-group col-md-4">
                                                <label class="input__label">Tình trạng</label>
                                                @Html.DropDownList("Tinhtrang", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Tinhtrang, "", new { @class = "text-danger" })
                                            </div>
                                            @*<div class="form-group col-md-2">
                                                <label class="input__label">Size</label>
                                                @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
                                            </div>*@
                                        </div>


                                        @*<div class="form-group">
                                            <label class="input__label">Mô tả</label>
                                            @Html.EditorFor(model => model.Mota, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label class="input__label">Giá tiền (VND)</label>
                                            @Html.EditorFor(model => model.Giatien, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Giatien, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">

                                            <input type="file" id="uploadhinh" name="uploadhinh" accept="image/*" />

                                        </div>*@


                                        <button type="submit" class="btn btn-primary btn-style mt-4">Lưu</button>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </section>
        </div>


    </div>
}
