@model LaptopWeb.Models.HangSanXuat
<!-- main content start -->
<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href=@Url.Action("Index", "AdminHome")>Admin</a></li>
                <li class="breadcrumb-item"><a href=@Url.Action("Index", "AdminHangSanXuat")>Hãng</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thêm hãng</li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">
            <!-- forms 1 -->
            <div class="card card_border py-2 mb-4">
                <div class="cards__heading">
                    <h3>Thêm hãng <span></span></h3>
                </div>
                <div class="card-body">
                    <form action="#" method="post" enctype="multipart/form-data">
                        <div class="card card_border py-2 mb-4">
                            <div class="card-body">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label class="input__label">Tên hãng</label>
                                        @Html.EditorFor(model => model.TenHang, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TenHang, "", new { @class = "text-danger" })
                                    </div>
                                    
                                    
                                </div>


                                

                                <div class="form-group">
                                    <label class="input__label">Mô tả</label>
                                    @Html.EditorFor(model => model.ChiTietHang, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ChiTietHang, "", new { @class = "text-danger" })
                                </div>
                               
                                <button type="submit" class="btn btn-primary btn-style mt-4">Thêm mới</button>

                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </section>
    </div>


</div>

