@model LaptopWeb.Models.NguoiDung
@{
    Layout = null;
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>LAPTOPWORLD - Đăng nhập</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Flat lay login form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->

    <link href="//fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">

    <!--/Style-CSS -->
    <link rel="stylesheet" href="~/assets/css/stylelogin.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- form section start -->
    <section class="w3l-workinghny-form">
        <!-- /form -->
        @using (Html.BeginForm("Login", "NguoiDung", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="workinghny-form-grid">
                <div class="wrapper">
                    <div class="logo">
                        <h1><a class="brand-logo" href="@Url.Action("Index" , "Home")">LAPTOPWORLD</a></h1>
                    </div>
                    <div class="workinghny-block-grid">
                        <div class="form-right-inf">
                            <h2>Đăng nhập </h2>
                            @*<div class="social-media">
                                <a href="#facebook" class="fb"><span class="fab fa-facebook" aria-hidden="true"></span> Đăng nhập với facebok</a>
                                <a href="#google" class="gg"><span class="fab fa-google-plus" aria-hidden="true"></span> Đăng nhập với google</a>
                            </div>*@
                            <div class="login-form-content">
                               @* <h2>Đăng nhập với email</h2>*@
                                <form action="#" class="signin-form" method="post">
                                    <div style="color:red ; text-align: center"> @ViewBag.Fail</div> 
                                    <div class="one-frm">
                                        <input type="email" name="userMail" placeholder="Email" required="" autofocus>
                                        <span class="field-validation-valid" data-valmsg-for="userMail" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="one-frm">
                                        <input type="password" name="password" placeholder="Password" required="">
                                        <span class="field-validation-valid" data-valmsg-for="userMail" data-valmsg-replace="true"></span>
                                    </div>

                                    <label class="check-remaind">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                        <p class="remember">Nhớ mật khẩu</p>

                                    </label>
                                    <button type="submit" class="btn btn-style mt-3">Đăng nhập </button>
                                    <p class="already">Bạn chưa có tài khoản? <a href="@Url.Action("Dangky" , "NguoiDung")">Đăng ký</a></p>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- //form -->
        <!-- copyright-->
        <div class="copyright text-center">
            <div class="wrapper">
                <p class="copy-footer-29">
                </p>
            </div>
        </div>
        <!-- //copyright-->
    </section>
    <!-- //form section start -->
</body>

</html>